@using hospi_web_project.Services;
@{
    ViewData["Title"] = "마이페이지";

    string email = User.Identity.Name;

    DBService dbService = ViewContext.HttpContext.RequestServices.GetService(typeof(DBService)) as DBService;

    MemberService memberContext = new(dbService);
    MemberViewModel model = memberContext.GetMemberInfo(email);

    PaymentService paymentContext = new(dbService);
    List<PaymentViewModel> list = paymentContext.GetPaymentList(email);

    DownloadURLService urlContext = new(dbService);
    string url = urlContext.GetDownloadURL("Hospi");

    async Task GetPaymentList()
    {
        foreach (var payment in list)
        {
            
            <tr>
                <td class="text-center">@payment.OrderCode</td>
                <td class="text-center">@payment.ProductName</td>
                <td class="text-center">@InputKeyHyphen(payment.ProductKey)</td>
                <td class="text-center">@payment.RegDate</td>
                <td class="text-center">
                    <a href="@url" class="file-down" style="color: black;">
                        설치파일<img src="~/image/download_black.svg" style="width: 20px;">
                    </a>
                </td>
            </tr>
        }
    }

    string InputKeyHyphen(string key)
    {
        string temp = "";

        for(int i=0; i<key.Length; i++)
        {
            if (i % 5 == 0 && i != 0)
            {
                temp += "-";
            }
            temp += key[i];
        }

        return temp;
    }
}
@model MemberViewModel;

<head>
    <link rel="stylesheet" href="~/css/myPage.css" />
</head>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > <a style="color: black;" asp-controller="User" asp-action="MyPage">마이페이지</a></p>
    </div>
</div>

<div class="container">
    <div class="box-div" style="margin-top: 70px; margin-bottom: 150px;">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">결제정보</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">내 정보</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">비밀번호 변경</label>

        <input id="tab4" type="radio" name="tabs">
        <label for="tab4">회원탈퇴</label>

        <section id="content1" style="margin-bottom:20px;">
            <h4 style="margin-bottom: 15px;">결제내역</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" scope="row" style="width: 20%">주문번호</th>
                        <th class="text-center" scope="row" style="width: 20%">제품명</th>
                        <th class="text-center" scope="row" style="width: 30%">인증키</th>
                        <th class="text-center" scope="row" style="width: 15%">등록일</th>
                        <th class="text-center" scope="row" style="width: 15%">다운로드</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        await GetPaymentList();
                    }
                </tbody>
            </table>
            <hr style="margin-top: -15px" />
            <h5 style="margin-top: 30px;">Hospi 인증키에 대한 주의사항</h5>
            <div style="margin-top: 10px">
                <p>
                    1. 인증키 발급 후 반드시 유출되지 않도록 보관하여 주십시오.<br />
                    2. 인증키는 Hospi 전자차트 처음 실행 시 인증을 위해 사용됩니다.<br />
                    3. 인증키 유출로 인한 피해는 당사에서 책임지지 않습니다.<br />
                    4. 자세한 문의는 <a asp-area="" asp-controller="Support" asp-action="Inquiry">문의게시판</a>을 통하여 문의를 남겨주시면 빠른 시일내에 답변해드리겠습니다.<br />
                </p>
            </div>
        </section>

        <section id="content2" style="margin-bottom:20px;">
            <h4 style="margin-bottom: 15px;">내 정보</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">이메일</th>
                        <td colspan="2">@(model.email)</td>
                    </tr>
                    <tr>
                        <th scope="row">이름</th>
                        <td colspan="2">@(model.name)</td>
                    </tr>
                    <tr>
                        <th scope="row">생년월일</th>
                        <td colspan="2">
                            <div>
                                <span id="birth" style="margin-right: 10px;">@(model.birth)</span>
                                <input type="button" id="editBtn1" class="btn btn-dark" value="수정" onclick="editBirth()" />
                                <input type="button" id="cancelBtn1" class="btn btn-dark" style="display: none;" value="취소" onclick="cancelBirth()" />
                            </div>
                            <br />
                            <div id="editBirthDiv" style="margin-top: 10px; margin-bottom: 20px; display: none">
                                <iframe id="iframeBirth" name="iframeBirth" style="display:none"></iframe>
                                <form method="post" asp-controller="User" asp-action="UpdateBirth" target="iframeBirth" onsubmit="return saveBirth();">
                                    <input type="text" class="form-control" id="birthyear" style="width: 100px; float: left; margin-right: 10px" placeholder="년(4자리)" maxlength="4" asp-for="BirthYear" />
                                    <input type="text" class="form-control" id="birthmonth" style="width: 50px; float: left; margin-right: 10px " placeholder="월" maxlength="2" asp-for="BirthMonth" />
                                    <input type="text" class="form-control" id="birthday" style="width: 50px; float: left;" placeholder="일" maxlength="2" asp-for="BirthDay" />
                                    <input type="hidden" asp-for="email" value="@User.Identity.Name" />
                                    <button type="submit" style="margin-left: 10px;" class="btn btn-dark">저장</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">휴대전화</th>
                        <td colspan="2">
                            <div>
                                <span id="phone_span" style="margin-right: 10px;">@(model.phone)</span>
                                <input type="button" id="editBtn2" class="btn btn-dark" value="수정" onclick="editPhone()" />
                                <input type="button" id="cancelBtn2" class="btn btn-dark" style="display: none;" value="취소" onclick="cancelPhone()" />
                            </div>
                            <div id="editPhoneDiv" style="margin-top: 25px; display: none">
                                <iframe id="iframePhone" name="iframePhone" style="display:none"></iframe>
                                <form method="post" asp-controller="User" asp-action="UpdatePhone" target="iframePhone" onsubmit="return savePhone()">
                                    <input type="text" class="form-control" id="phone_input" style="width: 220px; float: left;" placeholder="번호만 입력해주세요." maxlength="11" asp-for="phone" />
                                    <input type="hidden" asp-for="email" value="@User.Identity.Name" />
                                    <button type="submit" style="margin-left: 10px;" class="btn btn-dark">저장</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section id="content3" style="margin-bottom:20px;">
            <h4 style="margin-bottom: 15px;">비밀번호 변경</h4>
            <form method="post" asp-controller="User" asp-action="PasswordChange" onsubmit="return passwordCheck()">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">기존 비밀번호</th>
                            <td colspan="2">
                                <input type="password" class="form-control" asp-for="password" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">새 비밀번호</th>
                            <td colspan="2">
                                <input type="password" id="newPW1" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">새 비밀번호 확인</th>
                            <td colspan="2">
                                <input type="password" id="newPW2" class="form-control" asp-for="newPassword" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" asp-for="email" value="@User.Identity.Name" />
                <div style="text-align: right">
                    <button type="submit" class="btn btn-dark">비밀번호 변경</button>
                </div>
            </form>
        </section>

        <section id="content4" style="margin-bottom:20px;">
            <h4 style="margin-bottom: 15px;">회원탈퇴</h4>
            <hr />
            <p>회원탈퇴를 하시면 모든 개인정보가 삭제됩니다. 탈퇴하시려면 비밀번호 입력 후 회원탈퇴 버튼을 클릭해주세요.</p>
            <form method="post" asp-controller="User" asp-action="Withdrawal">
                <div>
                    <input type="password" class="form-control" id="pw" style="width: 300px; float: left; margin-right: 10px;" placeholder="비밀번호 입력" asp-for="password" />
                    <button type="submit" class="btn btn-dark">회원탈퇴</button>
                </div>
                <input type="hidden" asp-for="email" value="@User.Identity.Name" />
            </form>
        </section>
    </div>
</div>

<script src="~/js/myPage.js"></script>