@{
    ViewData["Title"] = "문의게시판";
}
@model InquiryBoardViewModel;

<head>
    <link rel="stylesheet" href="~/css/board.css" />
</head>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > 문의게시판</p>
    </div>
</div>

<div class="container" id="boardContainer">
    <div class="boardDiv" style="margin-top: 70px;">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4" style="background-color: #eeeeee; text-align: center;">문의</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>제목</b></td>
                    <td colspan="1">@Model.Title</td>
                    <td><b>조회수</b></td>
                    <td colspan="1">@Model.Views</td>
                </tr>
                <tr>
                    <td><b>작성자</b></td>
                    <td colspan="3">@Model.Email.Substring(0, Model.Email.LastIndexOf('@'))</td>
                </tr>
                <tr>
                    <td><b>등록일</b></td>
                    <td colspan="3">@Model.WriteDate</td>
                </tr>
                <tr>
                    <td><b>파일</b></td>
                    <td colspan="3">
                        <a href="~/Support/DownloadFile?no=@(Model.No)&fileName=@(Model.FileName)" class="file-down" style="color: black;">
                            @Model.FileName
                        </a>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color: #eeeeee; text-align: center;"><b>내용</b></td>
                </tr>
                <tr>
                    <td colspan="4" style="background-color: #ffffff; text-align: left;">@Model.Content</td>
                </tr>
            </tbody>
        </table>
        <table class="table" style="margin-top: 70px;">
            <thead>
                <tr>
                    <th colspan="4" style="background-color: #eeeeee; text-align: center;">답변</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @{
                        if (Model.IsReply == 1)
                        {
                            <td colspan="4" style="background-color: #ffffff; text-align: left;">
                                @Model.Reply
                            </td>
                        }
                        else
                        {
                            <td colspan="4" style="background-color: #ffffff; text-align: left;">
                                답변이 아직 등록되지 않았습니다.
                            </td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <div class="boardDiv" style="text-align: right; margin-top: 80px;">
        <a class="btn btn-dark" asp-controller="Support" asp-action="Inquiry">목록</a>
        @{
            // 관리자 기능 조건 수정해야함
            int IsAdmin = 1;
            if (IsAdmin == 1 && Model.IsReply == 0)
            {
                <a class="btn btn-dark" asp-controller="Support" asp-action="InquiryReply" asp-route-no="@Model.No">답변</a>
            }

            if (Model.Email == User.Identity.Name)
            {
                if (Model.IsReply != 1)
                {
                    <a class="btn btn-dark" asp-controller="Support" asp-action="InquiryUpdate" asp-route-no="@Model.No">수정</a>
                }
                <a class="btn btn-dark" asp-controller="Support" asp-action="InquiryDelete" asp-route-no="@Model.No">삭제</a>
            }
        }
    </div>
</div>