@{
    ViewData["Title"] = "답변 작성";
}

@model InquiryBoardViewModel;

<head>
    <link rel="stylesheet" href="~/css/boardCreate.css" />
</head>

<div style="background-color: #8E8E8E; height: 70px">
    <div class="container">
        <p style="line-height: 70px; margin-left: 80px"><a style="color: black;" asp-controller="Home" asp-action="Index">Hospi 홈</a> > <a style="color: black;" asp-controller="Support" asp-action="Inquiry">문의게시판</a> > 답변 작성</p>
    </div>
</div>

<div class="container" style="margin-top:50px; margin-bottom: 150px;">
    <form method="post" asp-controller="Support" asp-action="InquiryReplyProcess" enctype="multipart/form-data">
        <div class="form-group" style="width: 80%; margin: 0 auto;">
            <h4 style="margin-top: 70px; margin-bottom: 50px">답변 작성</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4" style="background-color: #eeeeee; text-align: center;">문의</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><b>제목</b></td>
                        <td colspan="1">@Model.Title</td>
                        <td><b>조회수</b></td>
                        <td colspan="1">@Model.Views</td>
                    </tr>
                    <tr>
                        <td><b>작성자</b></td>
                        <td colspan="3">@Model.Email.Substring(0, Model.Email.LastIndexOf('@'))</td>
                    </tr>
                    <tr>
                        <td><b>등록일</b></td>
                        <td colspan="3">@Model.WriteDate</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="background-color: #eeeeee; text-align: center;"><b>내용</b></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="background-color: #ffffff; text-align: left;">@Model.Content</td>
                    </tr>
                </tbody>
            </table>
            <table class="table" style="margin-top: 70px;">
                <thead>
                    <tr>
                        <th colspan="4" style="background-color: #eeeeee; text-align: center;">답변</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <textarea type="text" rows="10" class="form-control" id="content" asp-for="Reply" style="width: 100%; resize: none;"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="hidden" asp-for="No" value="@Model.No" />
        </div>
        <div class="form-group" style="width: 80%; margin: 0 auto; text-align: end">
            <a href='./InquiryDetails?no=@Model.No' class="btn btn-dark">취소</a>
            <button class="btn btn-dark" type="submit">
                등록
            </button>
        </div>
    </form>
</div>